/* Button */
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -moz-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75em !important;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 3.75em;
  height: 3.75em;
  padding: 0 2.25em;
  border: 0;
  box-shadow: 0 0 0 2px #000000;
  border-radius: 4px;
  color: #000000;
  text-align: center;
  background: #00CCEE;
  cursor: pointer; }
  .button .extra,
  input[type="button"] .extra,
  input[type="submit"] .extra,
  input[type="reset"] .extra {
    font-weight: 400 !important; }
  .button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    color: #000000;
    box-shadow: 0 0 0 2px #000000;
      background: #11DDFF;
  }
  .button.small,
  input[type="button"].small,
  input[type="submit"].small,
  input[type="reset"].small {
    font-size: 0.7em !important; }
  .button.square,
  input[type="button"].square,
  input[type="submit"].square,
  input[type="reset"].square {
    padding: 0;
    width: 3.25em;
    height: 3.25em;
    line-height: 3.25em; }
  .button.special,
  input[type="button"].special,
  input[type="submit"].special,
  input[type="reset"].special {
    background: #5FCEC0;
    color: #fff;
    box-shadow: 0 0 0 2px #5FCEC0; }
    .button.special:hover,
    input[type="button"].special:hover,
    input[type="submit"].special:hover,
    input[type="reset"].special:hover {
      background: #3bbfaf;
      box-shadow: 0 0 0 2px #3bbfaf; }
  .button.twitter,
  input[type="button"].twitter,
  input[type="submit"].twitter,
  input[type="reset"].twitter {
    background: #00bcee;
    border-color: #00bcee;
    color: #fff; }
  .button.disabled, .button:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  input[type="submit"].disabled,
  input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled {
    color: #fff !important;
    background: #c6c6c6 !important;
    box-shadow: 0 0 0 2px #c6c6c6 !important;
    cursor: default; }
  .button.fit,
  input[type="button"].fit,
  input[type="submit"].fit,
  input[type="reset"].fit {
    display: block;
    width: 100%; }
  @media screen and (max-width: 736px) {
    .button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      display: block;
      width: 100%;
      max-width: 320px;
      margin: 0 auto; }
      .button .extra,
      input[type="button"] .extra,
      input[type="submit"] .extra,
      input[type="reset"] .extra {
        display: none; } }
